package pages

import (
  "goweb/ui/layouts"
  "goweb/ui/components"
)

templ Admin() {
  @layouts.Page() {
    @layouts.Header()

    <main class="flex-1 flex flex-wrap justify-center items-center p-4 bg-background color-text rounded-2xl">
      Admin
    </main>

    @components.AdminNav()
    
    @layouts.Footer()
  }
}
