package pages

import (
  "goweb/ui/layouts"
	"goweb/ui/forms"
)

templ Login() {
  @layouts.Page() {
    @layouts.Header()

    <main class="flex-1 flex flex-wrap justify-center items-center p-4 bg-background color-text rounded-2xl">
      @forms.Login(nil)
    </main>
    
    @layouts.Footer()
  }
}
